.navbar-dark{
    background-color: 222831 !important;
}

.nav-icon{
    color: #636871 !important;
}

.nav-icon:hover{
    color: #00adb5 !important;
}

.hr-theme-slash-2 {
    display: flex;
}

.hr-line {
    width: 50%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid #636871;
}

.hr-icon {
    text-align: center;
    position: relative;
    color: #00adb5;
}
  
#bod{
    height: 10px;
    background-color: #00adb5;
}

.navbar-brand{
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff !important;
}

.nav-link.mx-2{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff !important;
}

.nav-link.mx-2:hover{
    color: #00adb5 !important;
}

.headwrap{
    margin: auto;
    background-color: #13181f;
}

.content{
    margin: 50px 0px;
}

.nav-link.text-dark.nav-icon.text-muted{
    padding: 0px;
}

.nav.col-md-4.justify-content-end.list-unstyled.d-flex{
    margin-right: 30px;
}

.mb-3.mb-md-0.text-muted{
    margin-left: 30px;
}

#email{
    color: #636871 !important;
}

#colorsetting{
    color: #393e46;
    color: #636871;
    color: #13181f;
    color: #00adb5;
    color: #5cdfe7;
    color: #007d85;
}

.navbar-toggler{
    background-color: #00adb5 !important;
}

.nav-container{
    height: 85px;
}

#navwrap{
    padding-top: 17px;
}

.brandtext{
    margin-top: 7.5px !important;
    margin-bottom: 0;
}

.post-preview > a {
    color: #212529;
    text-decoration: none;
  }
  .post-preview > a:focus, .post-preview > a:hover{
    text-decoration: none;
    color: #007d85;
  }
  .post-preview > a > .post-title {
    font-size: 1.875rem !important;
    margin-top: 1.875rem !important;
    margin-bottom: 0.625rem !important;
    font-weight: bold !important;
  }
  .post-preview > a > .post-subtitle {
    font-weight: 300 !important;
    margin-bottom: 0.625rem !important;
  }
  .post-preview > .post-meta {
    font-size: 1.125rem !important;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
  }
  .post-preview > .post-meta > a {
    text-decoration: none;
  }

  @media (min-width: 992px) {
    .post-preview > a > .post-title {
      font-size: 2.25rem;
    }
  }

  .badge{
    background-color: #00adb5;
    margin-bottom: 10px;
  }